@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #30333e;
}

.transitonX{
    transition: 1s;
    animation-duration: 3s;
}
@media screen and (max-width: 1600px) {
    .sidebar ul li {
        padding: 5px 10px !important;
    }

    .sidebar ul li:nth-child(8) {
        margin-top: 30px;
    }

    .sidebar::-webkit-scrollbar {
        width: 0;
    }

    .tabs::-webkit-scrollbar {
        width: 0;
    }

    .products::-webkit-scrollbar {
        width: 0;
    }

    .product .edit:hover {
        background: rgba(234, 124, 105, .30) !important;
    }
}
